---
import Layout from "../../layouts/LayoutEN.astro"
import Badge from "../../components/Badge.astro"
import SectionContainer from "../../components/SectionContainer.astro"
import LinkedInIcon from "../../components/icons/oldLinkedin.astro"
import SocialPill from "../../components/SocialPill.astro"
import GitHubIcon from "../../components/icons/oldGitHub.astro"
import MailIcon from "../../components/icons/Mail.astro"
import Experience from "../../components/en/Experience.astro"
import Briefcase from "../../components/icons/Briefcase.astro"
import CodeIcon from "../../components/icons/Code.astro"
import Projects from "../../components/en/Projects.astro"
import Educacion from "../../components/en/Educacion.astro"
import About from "../../components/en/About.astro"
import Person from "../../components/icons/person.astro"
import Studies from "../../components/icons/studies.astro"
import Curriculum from "../../components/icons/curriculum.astro"
---

<Layout
  title="Antonio Saborido"
  description="Full Stack Developer."
>
  <main class="px-4">
    <SectionContainer class="py-44 pb-32">
      <img
        class="rounded-full size-12 mb-4"
        src="/antonio2.jpg"
        alt="Foto de antonio"
      />
      <h1
        class="text-gray-900 dark:text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10"
      >
        Welcome!
      </h1>
      <h2
        class="text-xl lg:text-2xl text-balance max-w-[700px] text-black dark:text-white"
      >
        <span>Software Engineer</span><span
          class="text-yellow-800 dark:text-yellow-200"
        >
          Full Stack Developer</span
        >
         <span class="text-red-800 dark:text-red-200">
          Based in Andalusia, Spain.</span
        >
        <span class="text-sky-800 dark:text-sky-200"
          >
          Specialized in creating applications with the latest technologies.</span
        >
      </h2>

      <nav class="flex gap-4 mt-8 flex-wrap">
        <SocialPill href="https://www.linkedin.com/in/antonio-saborido-campos-512343204/" class="flex-1 max-w-[calc(33%-1rem)]">
          <LinkedInIcon class="size-4 md:size-6" />
          LinkedIn
        </SocialPill>
        <SocialPill href="https://github.com/antoniiosc7" class="flex-1 max-w-[calc(33%-1rem)]">
          <GitHubIcon class="size-4 md:size-6" />
          GitHub
        </SocialPill>
        <SocialPill href="mailto:antonio.saborido01@gmail.com" class="flex-1 max-w-[calc(33%-1rem)]">
          <MailIcon class="size-4 md:size-6" />
          antonio.saborido01@gmail.com
        </SocialPill>
        <SocialPill href="/resumeEN.pdf" class="flex-1 max-w-[calc(33%-1rem)]">
          <Curriculum class="size-4 md:size-6" />
          Download CV
        </SocialPill>
      </nav>
    </SectionContainer>
    <SectionContainer id="about">
      <h2
        class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-black/80 dark:text-white/80"
      >
        <Person class="size-7" />
         About me
      </h2>
      <About />
    </SectionContainer>

    <SectionContainer id="educacion">
      <h2
        class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-black/80 dark:text-white/80"
      >
        <Studies class="size-7" />
         Education
      </h2>
      <Educacion />
    </SectionContainer>

    <SectionContainer id="experiencia">
      <h2
        class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-black/80 dark:text-white/80"
      >
        <Briefcase class="size-7" />
        Work experience
      </h2>
      <Experience />
    </SectionContainer>
    <SectionContainer id="projects">
      <h2
        class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-black/80 dark:text-white/80"
      >
        <GitHubIcon class="size-7" />
        Projects
      </h2>
      <Projects />
    </SectionContainer>
    
  </main>
</Layout>
